.home-sponsor,
.background{ 
    background: linear-gradient(rgb(23, 85, 179) 20%, #FFF7F7 40);
    
}

.feature {
    /* box-shadow: 42px -200px 68px -54px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow: 42px -200px 68px -54px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 42px -200px 68px -54px rgba(0, 0, 0, 1) inset; */
    /* margin-top: -300px; */
    padding: 100px 200px 0;
}

.feature .feature-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature .feature-content .left {
    width: 45%;
}

.feature .feature-content .right {
    width: 55%;
}

.left img {
    width: 400px;
    border-radius: 40px;
}

.right .text .bold {
    font-family: VBI;
    font-size: 40px;
    font-family: Vipnagorgialla;
    font-style: italic;
    font-size: 44px;
    line-height: 53px;
/* identical to box height */
    color: #FFFAFA;

}

.right .text h4 {
    font-family: Exo;
    font-style: italic;
    font-weight: 600;
    font-size: 19px;
    line-height: 25px;

    color: #06FFC3;

}
.right .text p {
    font-family: Exo;
font-style: italic;
font-weight: 300;
font-size: 19px;
line-height: 25px;

color: #FEF4F4;
}

.fea-button:hover{
   width: 100%;
}

.explore:hover {
   border: 2px solid white;
}

.aboutus:hover{
    border: 2px solid white;
    background-color: turquoise;
    color: turquoise;
}

@media (max-width: 1300px) {
    .feature{
        padding: 100px 50px;
    }
    .scrolling-wrapper {

        margin-top: 2px;
    }
}
@media (max-width: 947px) {
    
    .feature .feature-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

.feature .feature-content .right {
width: 100%;
text-align: center;
margin: 100px;
}

.feature .feature-content .left {
width: 100%;
text-align: center;
margin: 0 100px;
}


}
@media (max-width: 750px){
    section {
        padding: 50px 0;
    }
    /* .home .max-width {
        margin-left: 0;
        padding: 0 100px;
    } */
    .feature .feature-content .right {
        text-align: center;
        margin: 50px;
    }

    .max-width {
        padding: 0;
    }
    
    
}
@media (max-width: 370px){
    .feature {
        padding: 50 20px;
    }
    .right .text .bold {
        font-size: 30px;
    }
    .right .text h4 {
        font-size: 14px;
    }

    .right .text p {
        letter-spacing:2px;
        font-size: 14px;
    }
    
   

}