@import url(//db.onlinewebfonts.com/c/81dd3fb936d766a9cdee26cc3ca65477?family=Vipnagorgialla);
@import url(//db.onlinewebfonts.com/c/00074c9ea86912d3a5142b6eaef49e8a?family=VipnagorgiallaW90-Regular);
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,100&display=swap');

@font-face {
  font-family: 'VBI';
  src: url(../../../assets/fonts/vipnagorgialla\ rg\ it.otf);
}
@font-face {
  font-family: 'VRI';
  src: url(../../../assets/fonts/VpiBD.otf);
}
@font-face {
  font-family: 'EXO';
  src: url(../../../assets/fonts/exo.medium-italic.otf);
}

.hero-container {
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.hero-text {
  display: flex;
}
.hero-logo{
    position: absolute;
    left: 560px;
    top: 219px;
}

.hero-logo img {
  width: 312px;
    height: 270px;
}

.hero-text h1{
  position: absolute;
  width: 304px;
  height: 53px;
  left: 403px;
  top: 324px;
  font-family: 'VBI';
  font-style: italic;
  /* font-weight: bold; */
  font-size: 37px;
  line-height: 55px;
  color: #FFFFFF;
}
.hero-text p {
  position: absolute;
  width: 287.07px;
  height: 48.6px;
  left: 401px;
  top: 370px;
  font-family: Exo;
  font-style: italic;
  font-weight: 200;
  font-size: 17px;
  line-height: 24px;
  color: #FEF4F4;
}
.btn-outline-light {
  position: absolute;
  width: 127px;
  height: 30px;
  left: 403px;
  top: 423px;
  font-family: Exo;
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: white;
  border: 1px solid blue;
  border-radius: 50px;
  background: transparent;
}
.btn-outline-light:hover {
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(18, 18, 224), rgb(49, 173, 211));
}

@media screen and (max-width: 950px) {
  .hero-logo{
    display: none;
  }
  .hero-text {
    display: none;
  }
}

@media (max-width: 1200px) and (min-width: 951px) {
  .hero-logo{
    align-items: center;
  }
  .hero-text {
    top:100px;
  }
}

@media (max-width: 480px) {
  .hero-logo{
    left: 560px;
    top: 219px;
  }
  .hero-text{
    left: 560px;
    top: 219px;
  }
       
}