/* .App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  color: white;
  background: black;
}
.background {
  background-repeat: no-repeat;
  background: 100%;
} */
/* #navbar {
  z-index: 2;
  background-color: transparent;
} */
#techfest-logo {
  width: 18vw;
  height: 4vh;
  margin-left: 3vw;
  margin-top: 2vh;
}
.image {
  width: 130px;
}
.bord {
  border-right: beige 3px solid;
  padding: 5px;
}
.heading {
  font-family: "VipnagorgiallaRg-BoldItalic";
}
.card {
  background: transparent;
  margin-top: 12px;
  border: transparent;
}
.hr-center {
  width: 100%;
  height: 20px;
  border-bottom: 5px solid white;
  text-align: center;
}
.hr-text {
  font-size: 15px;
  background-color: black;
  padding: 0 10px;
  font-family: "VipnagorgiallaRg-BoldItalic";
}
.image-block {
  margin: 10px;
}
.margin {
  padding-top: 15px;
}
.image2 {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
}
@media (min-width: 768px) {
  .card {
    width: 20%;
  }
  .background {
    background: url("../../assets/images/background.png"), black;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .image {
    width: 180px;
  }
  .hr-text {
    font-size: 30px;
  }
}
