@import url(//db.onlinewebfonts.com/c/81dd3fb936d766a9cdee26cc3ca65477?family=Vipnagorgialla);
@import url(//db.onlinewebfonts.com/c/00074c9ea86912d3a5142b6eaef49e8a?family=VipnagorgiallaW90-Regular);

@font-face {
  font-family: 'VBI';
  src: url(../../../assets/fonts/vipnagorgialla\ rg\ it.otf);
}
@font-face {
  font-family: 'VRI';
  src: url(../../../assets/fonts/VpiBD.otf);
}
@font-face {
  font-family: 'EXO';
  src: url(../../../assets/fonts/exo.medium-italic.otf);
}
body {
    background:linear-gradient(rgb(23, 85, 179) 20%, #FFF7F7 40& );
  }
  
.hero-logo img {
    width: 100%;
    height:auto;
   
}
.hero-logo {
    position: absolute;
    width: 312px;
    height: 270px;
    left: 560px;
    top: 219px;
  }

 .hero-text{
     width: auto;
 }

  .hero-text h1 {
    position: absolute;
      width: 304px;
      height: 53px;
      left: 407px;
      top: 308px;
      font-family: 'VBI';
      font-style: italic;
      font-weight: bold;
      font-size: 36px;
      line-height: 55px;
      color: #FFFFFF;
  }
  .hero-text p {
    position: absolute;
    width: 287.07px;
    height: 48.6px;
    left: 401px;
    top: 361px;
    font-family: Exo;
    font-style: italic;
    font-weight: 200;
    font-size: 17px;
    line-height: 24px;
    color: #FEF4F4;
  }
  .btn-outline-light {
    position: absolute;
    width: 127px;
    height: 30px;
    left: 403px;
    top: 423px;
    font-family: Exo;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFF7F7;
    color: #f8f9fa;
    border-color: #f8f9fa;
  }
  .hero-video {
    width: 100%;
    object-fit: cover;
    
  }
  
  .hero-div{
    margin: auto;
    width: 60%;
  }

  
  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px){
      .hero-logo{
        width: 270px;
        height: 200px;
        top: 150px;
        left: 350px;
        }
        .hero-text h1  {
            left: 184px;
            top: 225px;
        }
        .hero-text p{
            left: 185px;
            top: 270px;
        }
        .btn-outline-light {
            left: 185px;
            top: 320px;
        }
    }

    @media screen and (max-width: 700px) {
        .hero-logo img {
            width: 100px;
            margin-top: -12px;
            margin-left: -65px;
        }
        .hero-text h1  {
           display: none;
        }
        .hero-text p{
           display: none;
        }
        
    }
    
   /* Media Query for low resolution  Tablets, Ipads */
    @media (min-width: 481px) and (max-width: 767px) {
        .hero-logo{
            width: 270px;
            height: 200px;
            top: 100px;
            left: 300px;
            }
            .hero-text h1  {
                font-size: 34px;
                left: 149px;
                top: 174px;
            }
            .hero-text p{
                font-size: 15px;
                left: 149px;
                top: 225px;
            }
            .btn-outline-light {
                left: 149px;
                top: 280px;
            }
    }

   /* Media Query for Mobile Devices */  
    @media (max-width: 480px) {
       .hero-logo img{
           width: 110px;
           height: auto;
       }
       .hero-logo{
        left:150px;
        top: 69px;
       }
            
    }