@import url(//db.onlinewebfonts.com/c/81dd3fb936d766a9cdee26cc3ca65477?family=Vipnagorgialla);
@import url(//db.onlinewebfonts.com/c/00074c9ea86912d3a5142b6eaef49e8a?family=VipnagorgiallaW90-Regular);

@font-face {
  font-family: 'VBI';
  src: url(../../../assets/fonts/vipnagorgialla\ rg\ it.otf);
}
@font-face {
  font-family: 'VRI';
  src: url(../../../assets/fonts/VpiBD.otf);
}
@font-face {
  font-family: 'EXO';
  src: url(../../../assets/fonts/exo.medium-italic.otf);
}
/* body {
  overflow-x: hidden;
  overflow-y: auto;
} */


.logo{
  width: 10px;
}

.logo img {
  position: absolute;
    width: 312px;
    height: 270px;
    left: 617px;
    top: 237px;
}

.hero-text h1 {
  position: absolute;
    width: 304px;
    height: 53px;
    left: 462px;
    top: 344px;
    font-family: 'VBI';
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    color: #FFFFFF;
}
.hero-text p {
  position: absolute;
  width: 287.07px;
  height: 48.6px;
  left: 485px;
  top: 390px;
  font-family: Exo;
  font-style: italic;
  font-weight: 200;
  font-size: 17px;
  line-height: 24px;
  color: #FEF4F4;
}
.btn-outline-light {
  position: absolute;
  width: 127px;
  height: 30px;
  left: 520px;
  top: 445px;
  font-family: Exo;
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FFF7F7;
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.hero-video {
  width: 100%;
  object-fit: cover;
  
}

/* @media screen and (max-width:850px) {
  .logo img {
    width: 250px;
    height: 200px;
    left: 408px;
  }
} */