@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');


*{
    margin: 0%;
    padding: 0%;
}
.homedata{
    /* background-color: rgb(95, 91, 91); */
    background: linear-gradient(180.89deg, rgba(61, 72, 93, 0) 7.07%, rgba(44, 72, 126, 0.189266) 14.36%, rgba(26, 72, 163, 0.394602) 22.28%, rgba(1, 72, 215, 0.69) 33.66%, #00349C 43.97%, #102C66 63.59%);
}

