* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.loginSignUpPage {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color:  */
}

.loginBG {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/LSBG.png");
  mix-blend-mode: lighten;
  background-position: center;
  background-size: cover;
  transform: translateY(-20vh);
  position: absolute;
  z-index: 21;
}

.loginBGlogo img {
  height: 80vh;
  width: 70vw;
  opacity: 0.7;
  z-index: -10;
}

.loginBGlogo {
  top: 30vh;
  left: 15vw;
  position: absolute;
  z-index: 20;
}
.loginSignup {
  background-color: transparent;
  /* height: 100%; */
  width: 100vw;
  position: relative;
  line-height: 1.6;
  z-index: 21;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin-top: 5vh; */
  /* margin-bottom: 5vh; */
}

.lsFormBox {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(11, 195, 241, 0.726) 0%,
    rgba(42, 196, 235, 0.616) 50%,
    rgba(48, 86, 158, 0.349) 100%
  );
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border-radius: 5%;
  color: white;
  width: 40vw;
  /* height: 90vh; */
  position: relative;
  border-width: 5px;
  border-radius: 20px;
  border: 2px solid lightgreen;
  z-index: 10;
  margin: 12vh 0vh;
}

.tagline {
  text-align: center;
  font-size: 15px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.toggle-btn {
  color: white;
  padding: 5% 15%;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
}
.LSbuttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.LSbuttonBox .toggle-btn:nth-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
#login,
#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LSbox {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 5vh;
  margin: 2vh;
  width: 80%;
  height: 100%;
  border-radius: 1rem;
}
.LSinputField {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: rgba(248, 248, 245, 0.911);
}
.LSinputField:focus,
.LSinputField:active {
  background: transparent;
  color: white;
}
.LSinputField:-internal-autofill-selected {
  /* appearance: menulist-button; */
  background-color: transparent !important;
  color: white !important;
}
.lsLabel {
  font-size: 0.8em;
}

/* #loginButton1:active{
  border-bottom: 1px solid red;
} */

#login,
#signup {
  opacity: 0;
  /* animation: show 1s 1s 1 forwards; */
  animation: show 0.7s ease-in-out 0.5s 1 normal forwards;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 850px) {
  .lsFormBox {
    width: 70vw;
  }
}
@media screen and (max-width: 550px) {
  .LSbox {
    padding: 3vw;
    margin: 1vh;
    width: 90%;
  }
}
@media screen and (max-width: 420px) {
  .lsFormBox {
    width: 90vw;
    /* top:vh; */
  }
}
